{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Bản đồ Quán Ăn Tân An</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leaflet & plugin CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="{% static 'css/L.Icon.Pulse.css' %}" />
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
</head>
<body>
    <div class="header">
        <h2>Bản đồ Quán Ăn Tân An</h2>
    </div>
    <div id="map-container">
        <div id="map"></div>
    </div>
    <!-- Leaflet & plugin JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <!-- PHẢI ĐẢM BẢO plugin này được load trước file map.js -->
    <script src="{% static 'js/L.Icon.Pulse.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>
